@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: linear-gradient(rgba(245, 245, 245, 0.60), rgba(255, 255, 255, 0.60)), url(/img/CONTACTOS/FONDO\ CONTACTOS.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    
}

.container-titulo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-titulo h1{
    font-family: "Inter", sans-serif;
    letter-spacing: 4px;
    font-weight: 900;
}

.container-video{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-video video{
    width: auto;
    height: 500px;
    border-radius: 20px;
}

.form-titulo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    width: 100%;
    height: 70px;
}

.type{
    width: 100%;
    height: 50px;
    border: 1px white solid;
    border-radius: 10px;
    padding-left: 20px;
}

input::placeholder, textarea::placeholder{
    font-size: 20px;
}
.form-consulta{
    width: 100%;
    height: 250px;

}

.form-consulta textarea{
    width: 100%;
    padding-left: 20px;
    height: 250px;
    border: 1px white solid;
    border-radius: 10px;
}

.contact{
    display: flex;
}

.formulario-contacto, .information{
    width: 50%;
    height: 800px;
}

.information div p{
    font-size: 18px;
}

.information{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacto{
    width: 400px;
    height: 100px;
}

.button-form{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-form input{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: white;
}

/*ANDROID*/
@media(max-width: 1024px){

    .container-titulo{
        height: 80px;
    }

    .container-video{
        width: 100%;
        height: 400px;
    }
    .container-video video{
        width: 100%;
        height: auto;
    }
}



@media (max-width: 360px){
    .container-titulo{
        width: 100%;
        height: 60px;
        
    }
    .container-titulo h1{
        font-size: 20px;
    }

    .container-video{
        width: 336px;
        height: 150px;
    }

    .container-video video{
        width: 100%;
        height: auto;
    
    }

    .contact{
        height: 1400px;
        flex-direction: column;
    }

    .formulario-contacto, .information{
        width: 100%;
    }

    .formulario-contacto{
        height: 600px;
    }

    .information{
        height: 800px;
        
    }

    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .contacto{
        width: 360px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .maps iframe{
        width: 300px;
        height: 300px;

    }
}



