@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: linear-gradient(rgba(245, 245, 245, 0.50), rgba(255, 255, 255, 0.50)), url(/img/CONTACTOS/FONDO\ CONTACTOS.jpg);;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    
}

.container-titulo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-titulo h1{
    font-family: "Inter", sans-serif;
    letter-spacing: 4px;
    font-weight: 900;
}

.container-video{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-video video{
    width: auto;
    height: 450px;
    border-radius: 20px;
}

/*ANDROID*/



