.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 800px;
}
.section-nosotros img{
    width: 80%;
}

.section-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.nosotros{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valores{
    height: 50%;
    display: flex;
    flex-direction: column;
}

.mision-vision{
    height: 600px;
}


.img-mision{  
     display: flex;
     justify-content: center;
     align-items: center;
}

.img-mision img{
    width: 400px;
    height: 250px;
    border-radius: 60px;
}


.row{ 
    height: 300px;
}

.col-xxl-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






